{% extends "base.html" %}
{% block content %}
<div class="container main-body">
    <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center profile-img-container">
                <img src="{{ profile_user.icon170_url }}" alt="{{ profile_user.username }}'s profile picture">
                <div class="mt-3">
                  <h4>{{ profile_user.username }}</h4>
                </div>
                {% if profile_user.account_type != 0 %}
                    <a class="btn btn-primary mt-2" href="/jobs?author={{ profile_user.username }}">{{ user.username }}'s jobs</a>
                {% endif %}
                </div>
                <div class="d-flex justify-content-center mt-3">
                  {% if user.id == profile_user.id %}
                    <a href="/edit_profile" class="btn btn-outline-primary">
                      <i class="fa fa-edit me-2"></i>Edit Profile
                    </a>
                  {% endif %}
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0 fw-bold">Full Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">{{ profile_user.first_name + " " + profile_user.last_name }}</div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0 fw-bold">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary">{{ profile_user.email }}</div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0 fw-bold">Phone</h6>
                </div>
                <div class="col-sm-9 text-secondary">{{ profile_user.phone_number }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card-body p-3">
              <h5 class="card-title mb-3">Submission Stats</h5>
              <div class="status-row status-solved">
                <span>Accepted (AC)</span>
                <span class="badge bg-success">{{ cnt['AC'] }}</span>
              </div>
              <div class="status-row status-attempted">
                <span>Compilation Error (CE)</span>
                <span class="badge bg-warning text-dark">{{ cnt['CE'] }}</span>
              </div>
              <div class="status-row status-error">
                <span>Runtime Error (RE)</span>
                <span class="badge bg-danger">{{ cnt['RE'] }}</span>
              </div>
              <div class="status-row status-error">
                <span>Wrong Answer (WA)</span>
                <span class="badge bg-danger">{{ cnt['WA'] }}</span>
              </div>
              <div class="status-row status-error">
                <span>Time Limit (TLE)</span>
                <span class="badge bg-danger">{{ cnt['TLE'] }}</span>
              </div>
              <div class="status-row status-error">
                <span>Memory Limit (MLE)</span>
                <span class="badge bg-danger">{{ cnt['MLE'] }}</span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-12 mt-4">
          <h3 class="section-header">Last 10 submissions</h3>
          <div class="table-responsive">
            <table class="table table-bordered table-striped text-center submissions-table">
              <thead>
                  <tr>
                      <th scope="col" style="width: 7%">ID</th>
                      <th scope="col" style="width: 20%">Sending time</th>
                      <th scope="col" style="width: 20%">User</th>
                      <th scope="col" style="width: 23%">Problem</th>
                      <th scope="col" style="width: 5%">Language</th>
                      <th scope="col" style="width: 5%">Verdict</th>
                      <th scope="col" style="width: 10%">Time</th>
                      <th scope="col" style="width: 10%">Memory</th>
                  </tr>
              </thead>
              <tbody>
                  {% for item in submissions %}
                    <tr>
                        <th scope="row"><a href="/submission/{{ item.id }}">{{ item.id }}</a></th>
                        <td>{{ item.send_time }}</td>
                        <td><a href="/profile/{{ item.user.username }}">{{ item.user.username }}</a></td>
                        <td><a href="/problem/{{ item.problem.id }}">{{ item.problem.title }}</a></td>
                        <td>{{ item.language }}</td>
                        {% if item.verdict == 'AC' %}
                            <td class="alert-success">{{ item.verdict }}</td>
                        {% elif item.verdict == 'CE' %}
                            <td class="alert-warning">{{ item.verdict }}</td>
                        {% elif item.verdict == 'In queue' %}
                            <td class="alert-secondary">{{ item.verdict }}</td>
                        {% else %}
                            <td class="alert-danger">{{ item.verdict }}</td>
                        {% endif %}
                        <td>{{ item.time }} ms</td>
                        <td>{{ item.memory }} KB</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
</div>
{% endblock %}