{% extends "base.html" %}
{% block content %}
<style type="text/css">
  .main-body {
      padding: 15px;
  }

  .card {
      box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 0 solid rgba(0,0,0,.125);
      border-radius: .25rem;
  }

  .card-body {
      flex: 1 1 auto;
      min-height: 1px;
      padding: 1rem;
  }

  .gutters-sm {
      margin-right: -8px;
      margin-left: -8px;
  }

  .gutters-sm>.col, .gutters-sm>[class*=col-] {
      padding-right: 8px;
      padding-left: 8px;
  }
  .mb-3, .my-3 {
      margin-bottom: 1rem!important;
  }

  .bg-gray-300 {
      background-color: #e2e8f0;
  }
  .h-100 {
      height: 100%!important;
  }
  .shadow-none {
      box-shadow: none!important;
  }
</style>
<div class="container main-body">
    <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <img src="{{ profile_user.icon170_url }}">
                <div class="mt-3">
                  <h4>{{ profile_user.username }}</h4>
                </div>
                {% if profile_user.account_type != 0 %}
                    <a class="btn btn-primary" href="/jobs?author={{ profile_user.username }}">{{ user.username }}'s jobs</a>
                {% endif %}
                </div>
                <div class="d-flex justify-content-center">
                  {% if user.id == profile_user.id %}
                    <a href="/edit_profile" class="btn btn-primary">Edit profile</a>
                  {% endif %}
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Full Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">{{ profile_user.first_name + " " + profile_user.last_name }}</div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary">{{ profile_user.email }}</div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Phone</h6>
                </div>
                <div class="col-sm-9 text-secondary">{{ profile_user.phone_number }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <table class="table table bordered">
            <tr>
              <th scope="row" class="alert-success" style="width:50%">AC</th>
              <th scope="row" style="width:50%">{{ cnt['AC'] }}</th>
            </tr>
            <tr>
              <th scope="row" class="alert-warning" style="width:50%">CE</th>
              <th scope="row" style="width:50%">{{ cnt['CE'] }}</th>
            </tr>
            <tr>
              <th scope="row" class="alert-danger" style="width:50%">RE</th>
              <th scope="row" style="width:50%">{{ cnt['RE'] }}</th>
            </tr>
            <tr>
              <th scope="row" class="alert-danger" style="width:50%">WA</th>
              <th scope="row" style="width:50%">{{ cnt['WA'] }}</th>
            </tr>
            <tr>
              <th scope="row" class="alert-danger" style="width:50%">TLE</th>
              <th scope="row" style="width:50%">{{ cnt['TLE'] }}</th>
            </tr>
            <tr>
              <th scope="row" class="alert-danger" style="width:50%">MLE</th>
              <th scope="row" style="width:50%">{{ cnt['MLE'] }}</th>
            </tr>
          </table>
        </div>
        <br>
          <h3>Last 10 submissions</h3>
          <table class="table table-bordered table-striped text-center" style="margin-top: 10px">
            <thead>
                <tr>
                    <th scope="col" style="width: 7%">ID</th>
                    <th scope="col" style="width: 20%">Sending time</th>
                    <th scope="col" style="width: 20%">User</th>
                    <th scope="col" style="width: 23%">Problem</th>
                    <th scope="col" style="width: 5%">Language</th>
                    <th scope="col" style="width: 5%">Verdict</th>
                    <th scope="col" style="width: 10%">Time</th>
                    <th scope="col" style="width: 10%">Memory</th>
                </tr>
            </thead>
            <tbody>
                {% for item in submissions %}
                    <tr>
                        <th scope="row"><a href="/submission/{{ item.id }}">{{ item.id }}</a></th>
                        <td>{{ item.send_time }}</td>
                        <td><a href="/profile/{{ item.user.username }}">{{ item.user.username }}</a></td>
                        <td><a href="/problem/{{ item.problem.id }}">{{ item.problem.title }}</a></td>
                        <td>{{ item.language }}</td>
                        {% if item.verdict == 'AC' %}
                            <td class="alert-success">{{ item.verdict }}</td>
                        {% elif item.verdict == 'CE' %}
                            <td class="alert-warning">{{ item.verdict }}</td>
                        {% elif item.verdict == 'In queue' %}
                            <td class="alert-secondary">{{ item.verdict }}</td>
                        {% else %}
                            <td class="alert-danger">{{ item.verdict }}</td>
                        {% endif %}
                        <td>{{ item.time }} ms</td>
                        <td>{{ item.memory }} KB</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
</div>
{% endblock %}