{% extends "base.html" %}
{% block content %}
<div class="container problem-container">
    {% include "problem_navbar.html" %}
    <table class="table table-bordered table-striped container text-center problem-submissions-table submissions-table" style="margin-top: 10px">
        <thead>
            <tr>
                <th scope="col" style="width: 7%">ID</th>
                <th scope="col" style="width: 20%">Sending time</th>
                <th scope="col" style="width: 20%">User</th>
                <th scope="col" style="width: 23%">Problem</th>
                <th scope="col" style="width: 5%">Language</th>
                <th scope="col" style="width: 5%">Verdict</th>
                <th scope="col" style="width: 10%">Time</th>
                <th scope="col" style="width: 10%">Memory</th>
            </tr>
        </thead>
        <tbody>
            {% for item in submissions %}
                <tr>
                    <th scope="row"><a href="/submission/{{ item.id }}">{{ item.id }}</a></th>
                    <td>{{ item.send_time }}</td>
                    <td><a href="/profile/{{ item.user.username }}">{{ item.user.username }}</a></td>
                    <td><a href="/problem/{{ item.problem.id }}">{{ item.problem.title }}</a></td>
                    <td>{{ item.language }}</td>
                    {% if item.verdict == 'AC' %}
                        <td class="alert-success">{{ item.verdict }}</td>
                    {% elif item.verdict == 'CE' %}
                        <td class="alert-warning">{{ item.verdict }}</td>
                    {% elif item.verdict == 'In queue' %}
                        <td class="alert-secondary">{{ item.verdict }}</td>
                    {% else %}
                        <td class="alert-danger">{{ item.verdict }}</td>
                    {% endif %}
                    <td>{{ item.time }} ms</td>
                    <td>{{ item.memory }} KB</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}