{% extends "base.html" %}
{% block content %}
    <!-- MathJax -->
    <script id="MathJax-script" async src="/static/plugins/MathJax/tex-mml-chtml.js"></script>

    <!-- CodeMirror -->
    <link rel="stylesheet" type="text/css" href="/static/plugins/CodeMirror/lib/codemirror.css">
    <link rel="stylesheet" href="/static/plugins/CodeMirror/theme/darcula.css">
    <link rel="stylesheet" href="/static/plugins/CodeMirror/theme/eclipse.css">
    <script src="/static/plugins/CodeMirror/lib/codemirror.js"></script>
    <script src="/static/plugins/CodeMirror/mode/clike/clike.js"></script>
    <script src="/static/plugins/CodeMirror/mode/python/python.js"></script>
    <script src="/static/plugins/CodeMirror/addon/edit/matchbrackets.js"></script>
    <script src="/static/plugins/CodeMirror/addon/display/autorefresh.js"></script>
    <div class="container">
        {% include "problem_navbar.html" %}
        <div style="margin: 10px">
        {% include problem_editorial %}
        </div>
        <hr class="my-4">
        <button onclick="setAutoRefresh()" class="btn btn-primary" type="button" data-toggle="collapse"
                data-target="#show_code_area" aria-expanded="false" aria-controls="show_code_area">
            Author's solution
        </button><br>
        <div class="collapse" id="show_code_area">
            <div class="d-flex justify-content-right">
                <div class="col-md-2 px-0 ml-auto" style="max-width: 100px;" align="center">
                    <p class="mt-2" align="right">Select theme: </p>
                </div>
                <div class="col-md-2">
                    <select id="theme_select" class="form-control" onchange="selectTheme()">
                        <option selected value="0">default</option>
                        <option value="1">darcula</option>
                        <option value="2">eclipse</option>
                    </select>
                </div>
            </div>
            <textarea id="code_area" name="code_area">{{ solution }}</textarea>
            <div style="display: none" id="code_language">GNU C++14</div>
        </div>
    <script type="text/javascript" src="/static/js/submission_js.js"></script>
    </div>
{% endblock %}