{% extends "base.html" %}
{% block content %}
    <script src="/static/js/marked.min.js"></script>
    <div class="container" style="margin-top: 10px">
        <div class="row">
            <div class="col-md-1">
                <h2>Jobs</h2>
            </div>
            <div class="col-md-4">
            {% if current_user.is_authenticated and current_user.account_type != 0 %}
                <a href="/add_job"><button class="btn btn-primary">Add Job</button></a>
            {% endif %}
            </div>
        </div>
        {% set ptr = 0 %}
        {% for item in jobs %}
            <div class="card" style="width: 69rem">
                <h5 class="card-header">{{ item.title }}</h5>
                <div class="card-body">
                    <div class="card-text" id="content-{{ item.job_id }}">{{ item.short_info }}</div>
                    <a href="/job/{{ item.id }}" class="card-link">Read more...</a>
                </div>
                <h5 class="card-footer"><a href="/profile/{{ item.user.username }}">{{ item.user.username }}</a></h5>
            </div>
        {% endfor %}
        <script>
            const elements = document.querySelectorAll("[id^='content-']");
            console.log(elements)
            for(const x of elements) {
                x.innerHTML = marked.parse(x.innerHTML);
            }
        </script>
    </div>
{% endblock %}