<ul class="nav nav-tabs">
        {% if current_bar_id == 1 %}
            <li class="nav-item active">
                <a class="nav-link" href="/problem/{{ problem.id }}">Statement</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/problem/{{ problem.id }}">Statement</a>
            </li>
        {% endif %}
        {% if current_bar_id == 2 %}
            <li class="nav-item active">
                <a class="nav-link" href="/problem/{{ problem.id }}/editorial">Editorial</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/problem/{{ problem.id }}/editorial">Editorial</a>
            </li>
        {% endif %}
    {% if current_user.is_authenticated %}
        {% if current_bar_id == 3 %}
            <li class="nav-item active">
                <a class="nav-link" href="/problem/{{ problem.id }}/submissions?user={{ current_user.username }}">My submissions</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/problem/{{ problem.id }}/submissions?user={{ current_user.username }}">My submissions</a>
            </li>
        {% endif %}
    {% endif %}
</ul>