{% extends "base.html" %}
{% block content %}
<style>
    .card {
        margin: 0 auto;
        float: none;
        margin-bottom: 10px;
    }
</style>
{% if show_categories is defined %}
    <div class="container">
        <h2 style="margin-top: 15px">Categories</h2>
        <hr class="my-4">
        {% for item in categories %}
            {% if loop.index >= 3 %}
                {% if loop.index % 3 == 0 %}
                    {% set first = categories[loop.index - 3] %}
                    {% set second = categories[loop.index - 2] %}
                    {% set third = categories[loop.index - 1] %}
                    <div class="card-deck">
                        <div class="card">
                            <a href="problems/{{ first[1] }}"><h3 class="card-title">{{ first[0] }}</h3></a>
                        </div>
                        <div class="card">
                            <a href="problems/{{ second[1] }}"><h3 class="card-title">{{ second[0] }}</h3></a>
                        </div>
                        <div class="card">
                            <a href="problems/{{ third[1] }}"><h3 class="card-title">{{ third[0] }}</h3></a>
                        </div>
                    </div>
                    <hr class="my-4">
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% else %}
    <table class="table table-bordered table-striped container">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Author</th>
                <th scope="col">Title</th>
                <th scope="col">Category</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% if author is defined %}
                {% for item in problems %}
                    <tr>
                        <th scope="row">{{ item.id }}</th>
                        <td><a href="/profile/{{ author.username }}">{{ author.username }}</a></td>
                        <td>{{ item.title }}</td>
                        <td>{{ item.category }}</td>
                        <td><a href="/problem/{{ item.id }}/submissions">{{ item.submissions|length }}</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                {% for item in problems %}
                    <tr>
                        <th scope="row">{{ item[0].id }}</th>
                        {% if author is defined %}
                            <td><a href="/profile/{{ author.username }}">{{ author.username }}</a></td>
                        {% else %}
                            <td><a href="/profile/{{ item[1].username }}">{{ item[1].username }}</a></td>
                        {% endif %}
                        <td><a href="problem/{{ item[0].id }}">{{ item[0].title }}</a></td>
                        <td>{{ item[0].category }}</td>
                        <td><a href="/problem/{{ item[0].id }}/submissions">{{ item[0].submissions|length }}</a></td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
{% endif %}
{% endblock %}