{% extends "base.html" %}

{% block content %}
<div class="mx-auto">
    <form class="css_form" action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <h3 align="center" class="ml-2">Register in WnSOJ</h3>
        <br>
        <p>
            {{ form.fullname.label }}
            <br>
            {{ form.fullname(class="form-control") }}
            {% for error in form.fullname.errors %}
                <p class="alert alert-danger mt-2" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.username.label }}
            <br>
            {{ form.username(class="form-control") }}
            {% for error in form.username.errors %}
                <p class="alert alert-danger mt-2" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
            <p class="text-danger">{{ username_error_message }}</p>
        </p>
        <p>
            {{ form.email.label }}
            <br>
            {{ form.email(class="form-control", type="email") }}
            {% for error in form.email.errors %}
                <p class="alert alert-danger mt-2" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
            <p class="text-danger">{{ email_error_message }}</p>
        </p>
        <p>
            {{ form.password.label }}
            <br>
            {{ form.password(class="form-control", type="password") }}
            {% for error in form.password.errors %}
                <p class="alert alert-danger mt-2" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.password_repeat.label }}
            <br>
            {{ form.password_repeat(class="form-control", type="password") }}
            {% for error in form.password_repeat.errors %}
                <p class="alert alert-danger mt-2" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
            <p class="text-danger">{{ password_error_message }}</p>
        </p>
        <p>
            {{ form.phone_number.label }}
            <br>
            {{ form.phone_number(class="form-control") }}
            {% for error in form.phone_number.errors %}
                <p class="alert alert-danger mt-2" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
            <p class="text-danger">{{ phone_number_error_message }}</p>
        </p>
        <p>{{ form.is_business.label }} {{ form.is_business() }}</p>
        <div class="form-group">
            {{ form.icon.label }}<br>
            {{ form.icon(class="form-control-file", type="file") }}
            {% for error in form.icon.errors %}
                <p class="alert alert-danger mt-2" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </div>
        <br>
        <p>{{ form.submit(type="submit", class="btn btn-primary btn-lg") }}</p>
    </form>
</div>
{% endblock %}
